<%= form_for mail_contact, url: mail_contact_path, html: { class: "contact-form" } do |f| %>

	<% if mail_contact.errors.any? %>
		<%= render partial: 'visitor/partials/index/contact/model_errors', locals: { model: mail_contact } %>
	<% end %>

	<div class="form-group">
		<%= f.label :first_name %>
		<%= f.text_field :first_name, class: "form-control contact-form-input", placeholder: "First Name (required)" %>
	</div>

	<div class="form-group">
		<%= f.label :last_name %>
		<%= f.text_field :last_name, class: "form-control contact-form-input", placeholder: "Last Name (required)" %>
	</div>

	<div class="form-group">
		<%= f.label :email %>
		<%= f.email_field :email, class: "form-control contact-form-input", placeholder: "Email (required)" %>
	</div>

	<div class="form-group">
		<%= f.label :phone %>
		<%= f.phone_field :phone, class: "form-control contact-form-input", placeholder: "Phone (optional)" %>
	</div>

	<div class="form-group">
		<%= f.label :message %>
		<%= f.text_area :message, class: "form-control contact-form-input", rows: 5, placeholder: "Message (required)" %>
	</div>

	<%= f.button class: "btn contact-form-button" do %>
		<%= raw("#{fa_icon('paper-plane')} Send") %>
	<% end %>

<% end %>