<nav class="navbar navbar-default navbar-fixed-top shadow" id="index_navbar">
  <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#index_navbar_data_target" id="index_navbar_toggle_button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%=
      navbar_brand_link_options = { class: "navbar-brand", data: {} }
      if user_signed_in?
        navbar_brand_link_path = session_path(current_user.id)
        navbar_brand_link_options[:data][:method] = "delete"
      else
        navbar_brand_link_path = new_session_path
      end
      link_to "Samuel Lair", navbar_brand_link_path, navbar_brand_link_options
    %>
    </div>
    <div class="collapse navbar-collapse" id="index_navbar_data_target">
      <ul class="nav navbar-nav">

      </ul>
      <form class="navbar-form navbar-right" method="get" action="https://www.bing.com/search" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Web Search" name="q">
        </div>
        <button type="submit" class="btn btn-default" id="index_navbar_submit_search_button"><i class="fa fa-search"></i></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path(anchor: 'index_home') %></li>
        <li><%= link_to 'About', root_path(anchor: 'index_about') %></li>
        <li><%= link_to 'Portfolio', root_path(anchor: 'index_portfolio') %></li>
        <li><%= link_to 'Contact', root_path(anchor: 'index_contact') %></li>
      </ul>
    </div>
  </div>
</nav>